<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cassowary" version="4.0.0.0" targetFramework="net40-Client" />
  <package id="EpimetheusPlugins" version="1.0.5701.43099" targetFramework="net40-Client" />
  <package id="HandyCollections" version="2.0.0.0" targetFramework="net40-Client" />
  <package id="Mercurial.Net" version="1.1.1.607" targetFramework="net40" />
  <package id="Myre" version="4.0.0.0" targetFramework="net40" />
  <package id="Myre.Debugging" version="3.0.0.0" targetFramework="net40" />
  <package id="Myre.Entities" version="6.0.1.0" targetFramework="net40" />
  <package id="Myre.Graphics" version="5.2.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40-Client" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="NLog" version="4.0.1" targetFramework="net40-Client" />
  <package id="Placeholder" version="2.2.0.0" targetFramework="net40" />
  <package id="Placeholder.AI" version="1.0.5.0" targetFramework="net40" />
  <package id="Placeholder.AI.Control" version="13.1.0.0" targetFramework="net40" />
  <package id="Placeholder.AI.Pathfinding" version="8.2.2.0" targetFramework="net40" />
  <package id="Placeholder.AI.Planning.Parsing" version="4.1.2.0" targetFramework="net40" />
  <package id="Placeholder.Audio2" version="4.4.4.0" targetFramework="net40-Client" />
  <package id="Placeholder.ConstructiveSolidGeometry" version="8.4.5.0" targetFramework="net40-Client" />
  <package id="Placeholder.Content" version="1.2.3.0" targetFramework="net40" />
  <package id="Placeholder.Entities" version="1.4.1.0" targetFramework="net40" />
  <package id="Placeholder.Networking" version="1.2.0.0" targetFramework="net40" />
  <package id="Placeholder.Serialization" version="2.0.0.0" targetFramework="net40" />
  <package id="Poly2Tri" version="1.0.1.0" targetFramework="net40-Client" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net40" />
  <package id="SharpYaml" version="1.5.0" targetFramework="net40-Client" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="SupersonicSound" version="1.2.0.0" targetFramework="net40-Client" />
  <package id="System.IO.Abstractions" version="2.0.0.116" targetFramework="net40-Client" />
</packages>